.btnAddContact {
    background-color: #375e5200;
    border-style: dotted;
    color: #fff3cc;
    width: 90px;
    height: 30px;
    padding: 3px;
    border-color: #fff3cc70;
    border-radius: 5px;
    margin-left: 15px;

}
.btnAddContact:hover{
    background-color: #375e5242;
    border-style: double;
}
.nameInput{
    height: 25px;
    width: 305px;
    border-style: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 15px;

}
.numberInput{
    height: 25px;
    width: 184px;
    border-style: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 15px;

}
.form{
    gap: 12px;
}