.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #6a79a6;
}

.link.active {
  color: #acb9e0;
  text-decoration: underline;
}

.link:hover {
  color: #ffffff;
}
