.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  background: #7a9b95;
  /* width: 500px; */
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* animation: slide-in-fwd-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  border-radius: 5px;
  }

.input {
  width: 300px;
}

/* @keyframes slide-in-fwd-left {
  0% {
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
} */