@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d1d1d1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
  outline: none;
  text-decoration: none;
  color: #fff3cc;
}

a:link {
  color: #fff3cc;
}

a:visited {
  color: #fff3cc;
}
a:hover {
    color: #ffd972;
}
